

/*==========================================================
 Body
==========================================================*/ 

body
{
  margin: 0;
  background-color: #d3c3bf;
  font-family: verdana;
}


.topnav {
  overflow: hidden;
  background-color: #900C3F ;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 8px 10px;
  text-decoration: none;
  font-size: 10px;
}



.topnav1 {
  overflow: hidden;
  background-color: #e8dad5
}

.topnav1 a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 8px 10px;
  text-decoration: none;
  font-size: 20px;
}






.container {
display: grid;
grid-template-rows: 20px 30px 50px 150px 150px 100px;
grid-template-columns: 250px 250px 250px;
grid-gap: 5px;
/*border: solid 1px, black;*/
justify-content:center;
align-content: center;
}


.header{

  grid-column:  1/span 3;
  background-color:#9e351a;
}


.navbar{

    grid-column:  1/span 3;
    background-color: #e8dad5
   
  }





  .footer{

    grid-row: 6;
    grid-column:  1/span 3;
    background-color: #3b3a36;
    

  }

  .section-one
  {
      grid-row: 1/5;
      background-color:#900C3F ;
  }

  .section-two
  {
      grid-row: 1/4;
      grid-column: 2/4;
      background-color:#900C3F ;
  }

  .section-five
  {
    grid-row: 4/6;
    grid-column: 2/3;

      background-color:white;
      font-family: verdana;
      font-size: 10px;
  }

  
  .section-six
  {
    grid-row: 4/6;
    grid-column: 3/4;
    background-color: #e8dad5
  }